
/* GMAIL BLOCK */

.gmail_block {
    background: black;
    padding: 100px 0;
}

.inner_gmail_block {
    margin: 50px auto 0;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(250, 172, 28);
    background-color: rgb(14, 14, 14);
    height: 450px;
    width:50%;
    border-radius: 20px;
    align-items: center;
    position: relative;
}
.logo {
    position: absolute;
    top: 20px;

}
.logo img {
    width: 100px;
    height: auto;
    border-radius: 20px;

}
.form_gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_gmail button {
    width: 100%;
    margin: 15px 0;
}

/* MOVE BLOCK */

.move_block {
    background: black;
    padding: 100px 0;
}

.inner_parent_block {
    height: 400px;
    width: 400px;
    border: 1px solid var(--orange);
    border-radius: 18px;
}

.parent_block {
    height: 500px;
    width: 500px;
    border: 1px solid transparent;
    position: relative;
    margin: 0 auto;
    background-image: url(../Images/ArtifactMap.png);
    background-size: cover;
    background-position: center;
}

.child_block {
    position: absolute;
    top: 0;
    width: 35px;
    height: 60px;
    background-image: url(../Images/ellie.png);
    background-size:cover;
}


.inner_move_block {
    margin-top: 50px;
}

/*-------STOP WATCH------ */

.time {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid var(--orange);
    margin-top: 40px;
}

.time_block {
    display: flex;
    width: 500px;
    justify-content: center;
}

.stopwatch {
    padding: 260px 0;
    background: url(../Images/tlou.webp);
    background-size: cover;

}

.time_buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
